<h1>All Figures </h1>
<table>
  <th>Person </th>

    <% Figure.all.each do |figure| %>
    <tr>
        <td align="center"><a href="/figures/<%= figure.id %>"><%= figure.name %></a>
          <ul>
            <%figure.titles.each do |title|%>
            <li><%=title.name%></li>
            <%end%>
          </ul>
        </td>
     </tr>
  <% end %>
</table>
<br>

<a href="figures/new">Create New Figure</a>
<a href="/landmarks">View Landmarks</a>
<a href="/">Home</a>
